<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div id="profileContainer">
        <h2>My Profile</h2>
        <p>Name: <%= student.name %></p>
        <p>Roll No.: <%= student.rollno %></p>
        <p>Email : <%= student.email %></p>
        <p>Semester : <%= student.semester %></p>
        <p>Branch : <%= student.branch %></p>
        <!-- Add more fields as needed -->
    </div>
</body>
</html>